.profile {
  grid-area: content;
  background-color: #b3b3b3;
}

.profile__imgBg{
  object-fit: cover;
  width: 100%;
  max-height: 100px;
}

.profile__imgAva {
  object-fit: cover;
  max-width: 300px;
  height: auto;
}
