.profilePosts__form {
  display: flex;
  align-items: center;

}

.profilePosts__button {
  padding: 10px 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.profilePosts__label {
  box-shadow: var(--box-shadow);
  max-width: 400px;
  flex: 1 1 auto;
}

.profilePosts__input {
  width: calc(100% - 20px);
  padding: 10px;
}
