.profilePosts__label {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 400px;
}

.profilePosts__input {
  width: 100%;
  padding: 10px 15px;
  margin-bottom: 30px;
  background-color: var(--rootText);
  color: var(--rootBackground);
  box-shadow: var(--box-shadow);
  box-sizing:border-box;
  border: 2px solid transparent;
}

.profilePosts__input_auth {
  padding: 7px 15px;
}

.profilePosts__input_error_auth {
  border: 2px solid var(--rootError);
}

.form__error {
  margin-top: -30px;
  padding: 5px 0 12px;
  font-size: 12px;
  color: var(--rootBackgroundSecond);
}

.form__error_auth {
  color: var(--rootError);
}
