.header {
  grid-area: header;
  padding: 10px 0;
}

.header__content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__img {
  width: 4vw;
  height: 4vw;
  padding: 5px 10px;
  margin-right: 10px;
}

.header__title {
  margin: 0;
  padding: 0;
}
