:root {
  --box-shadow: 0 3px 8px 0 rgba(0,0,0,.5);
}

.link, .button {
  transition: all .3s;
  cursor: pointer;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

.link {
  text-decoration: none;
  opacity: .8;
}
.link_active {
  font-weight: bold;
  opacity: 1;
}
.button:hover {
  position: relative;
  opacity: 1;
  transform: scale(1.05); /*вот так*/
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.post__item {
  box-shadow: var(--box-shadow);
  margin: 5px 0;
}
