.link, .button {
  transition: all .3s;
  cursor: pointer;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

.link {
  text-decoration: none;
}

.button:hover {
  position: relative;
  opacity: 1;
  transform: scale(1.1); /*вот так*/
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}
