.link, .button {
  transition: all .3s;
  cursor: pointer;
}

.button:hover {
  position: relative;
  opacity: 1;
  transform: scale(1.1); /*вот так*/
}
.link:hover {
  opacity: .3;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}
