.app {
  min-height: 100vh;
  display: grid;
  grid-template-areas:
  "header header"
  "nav content";
  grid-template-rows: auto 1fr;
  grid-template-columns: 140px auto;
  background-color: var(--rootBackground);
  color: var(--rootText);
  font: var(--font);
}
