* {
  outline: darkslateblue 1px solid;
}

.app {
  min-height: 100vh;
  display: grid;
  grid-template-areas:
  "header header"
  "nav content";
  grid-template-rows: auto 1fr;
  grid-template-columns: 2fr 10fr;
}
